<html>
<body>
<p>
    {% for g,n in cursos.items %}
        {% if g  == "Departamentos" %}
            {% for dep in n %}
                <li> <a href="/{{ g }}"> {{ g }}</a><a href="/{{ g }}/{{dep}}"> - {{ dep }}</a> </li>
            {% endfor %}
        {% elif g == "Grau" %}
                <li> <a href="/{{ g }}/{{n}}">{{ g }} - {{ n }}</a> </li>
        {% elif g == "Areas" %}
            {% for ar in n %}
                <li> <a href="/{{ g }}"> {{ g }}</a><a href="/{{ g }}/{{ar}}"> - {{ ar }}</a> </li>
            {% endfor %}
        {% elif g == "Local" %}
            <li> <a href="/{{ g }}/{{ n }}">{{n}}</a></li>
        {% else %}
            <li> {{ g }} - {{n}}</li>
        {% endif %}
    {% endfor %}
</p>
</body>
</html>